<a href="https://colab.research.google.com/github/yoo9519-AIdev/Learning/blob/master/Bigdata_SQLite_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [4]:
dbpath = 'test.sqlite'
conn = sqlite3.connect(dbpath)

cur = conn.cursor() # table 생성 후 데이터 입력

cur.executescript('DROP TABLE IF EXISTS items;') # items 테이블이 이미 있으면 제거하기

cur.executescript("""
CREATE TABLE items(
    item_id INTEGER PRIMARY KEY,
    name TEXT UNIQUE,
    price INTEGER
);
""")

# 데이터 넣기
cur.executescript('INSERT INTO items(name, price) VALUES("APPLE", 800);')
cur.executescript('INSERT INTO items(name, price) VALUES("ORANGE", 900);')
cur.executescript('INSERT INTO items(name, price) VALUES("Banana", 860);')

conn.commit() # 위 조작을 데이터베이스에 반영하기

In [5]:
# 데이터 출력하기
cur = conn.cursor()
cur.execute("SELECT item_id, name, price FROM items")
item_list = cur.fetchall()

# 출력
for it in item_list:
    print(it)

(1, 'APPLE', 800)
(2, 'ORANGE', 900)
(3, 'Banana', 860)